# Created by .ignore support plugin (hsz.mobi)
.DS_Store
common/src/main/resources/
common/target/
common/*.iml
crawler/src/test/
crawler/target/
crawler/*.iml
msgrevicer/src/test/
msgrevicer/target/
msgrevicer/*.iml
*.iml
.idea
